/*Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Common Style*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 15px;
    border-radius: 10px;
}

/* Top Playes Styles */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* margin-top: 0px; */
    margin-bottom: 25px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.player {
    display: flex;
    align-items: center;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.top-players {
    margin-bottom: 21px;
}
/*Top Blog Styles*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}
.blog{
    display: flex;
}

.blog .thubnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 6px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

/*Courses Section*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 0px 6px 0 rgb(0 0 0 / 15%), 0 10px 15px 0 rgb(0 0 0 / 12%);
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 23px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 8px;
}
.course-author{
    font-family: 'Roboto', sans-serif;
    color: #ED6B4F;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.unfilled{
    color: #AEAEAE;
}
.star span{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #A2A2A2;
}
.clock{
    background-color: #FFE4E8;
    padding: 3px 7px;
    border-radius: 20px;
}
.fa-clock{
    color: #FF4A60;
}
.time-st{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

/* Media Queries */
/* Mobile Device */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .top-players, .top-blogs, .new-courses{
        padding: 2% 10%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog,{
        display: flex;
        flex-direction: column;
    }
    .course{
        margin-bottom: 20px;
    }
    
}

/* Tablet Screen */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .top-players, .top-blogs, .new-courses{
        padding:1% 10%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog,{
        display: flex;
        flex-direction: column;
    }
    .course{
        margin-bottom: 20px;
    }
    
}